<div class="comp-root">
    <section class="align-items-center">
        <ul class="gallery_box">
            <li>
                <a href="home/servicios#infopaneecommerce"><img src="../../../assets/img/serv-001-ecommerce.png">
                    <div class="box_data">
                        <span>E-commerce</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="home/servicios#infopanesocial"><img src="../../../assets/img/serv-001-social.png">
                    <div class="box_data">
                        <span>Social Network <br> integration</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="home/servicios#infopaneproduct"><img src="../../../assets/img/serv-001-product.png">
                    <div class="box_data">
                        <span>Product Showcase</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="home/servicios#infopanemaps"><img src="../../../assets/img/serv-002-maps.png">
                    <div class="box_data">
                        <span>Maps & Localization</span>
                    </div>
                </a>
            </li>
            <li style="    position: relative;
          top: -134px;">
                <a href="home/servicios#infopaneads"><img src="../../../assets/img/serv-001-adver.png">
                    <div class="box_data">
                        <span>Advertisement</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="home/servicios#infopanedata"><img src="../../../assets/img/serv-001-data.png">
                    <div class="box_data">
                        <span>Data Analysis & Statistics</span>
                    </div>
                </a>
            </li>

        </ul>
    </section>

    <section class="info-container">
        <div class="Features-section paddingTB60 ">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 site-heading ">
                        <h3>Caracteristicas de los servicios</h3>
                        <p>Cada uno de los servicios y sus caracteristicas se describen a continuación.</p>
                        <div class="border"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="col-md-12 feature-box" id="infopaneecommerce">
                            <div class="row">
                                <div class="col-md-2 col-xs-1">
                                    <span class="fa fa-shopping-cart icon"></span>
                                </div>
                                <div class="col-md-10 col-xs-11">
                                    <h4>E-Commerce</h4>
                                    <p>La cantidad de comercio llevada a cabo electrónicamente, ha crecido de manera extraordinaria debido a Internet. Una gran variedad de comercio se realiza de esta manera, estimulando la creación y utilización de innovaciones
                                        como la transferencia de fondos electrónica, la administración de cadenas de suministro, el marketing en Internet.</p>
                                    <button type="button" class="btn btn-primary site-btn">Solicitar Cotización</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Col -->

                    <div class="col-sm-12 col-md-12">
                        <div class="col-md-12 feature-box" id="infopanesocial">
                            <div class="row">
                                <div class="col-md-2 col-xs-1">
                                    <span class="fa fa-users icon"></span>
                                </div>
                                <div class="col-md-10 col-xs-11">
                                    <h4>Social Network integration</h4>
                                    <p>Las plataformas de Internet son muchas que facilitan la comunicación entre personas de una misma estructura social se denominan servicios de red social o redes sociales virtuales. Las redes sociales se han convertido,
                                        en pocos años, en un fenómeno global, se expanden como sistemas abiertos en constante construcción de sí mismos, al igual que las personas que las utilizan.</p>
                                    <button type="button" class="btn btn-primary site-btn">Solicitar Cotización</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Col -->

                    <div class="col-sm-12 col-md-12">
                        <div class="col-md-12 feature-box" id="infopaneproduct">
                            <div class="row">
                                <div class="col-md-2 col-xs-1">
                                    <span class="fa fa-barcode icon"></span>
                                </div>
                                <div class="col-md-10 col-xs-11">
                                    <h4>Product Showcase</h4>
                                    <p>Si vendes servicios a empresas, instituciones o particulares, tiene el deber de modernizarte y participar en la promocion y publicacion de tu negocio a travez de las herramientas en linea. Y la tendencia actual es buscar
                                        tu propio posicionamiento en la Web y centralizar la atencion de tu negocio en linea a travez de el diseño de un sitio web propio que publicite tus productos y servicios.</p>
                                    <button type="button" class="btn btn-primary site-btn">Solicitar Cotización</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Col -->

                    <div class="col-sm-12 col-md-12">
                        <div class="col-md-12 feature-box" id="infopanemaps">
                            <div class="row">
                                <div class="col-md-2 col-xs-1">
                                    <span class="fa fa-map-o icon"></span>
                                </div>
                                <div class="col-md-10 col-xs-11">
                                    <h4>Maps & Localization</h4>
                                    <p>Si su negocio realmente depende de los clientes turisticos o regionales, hoy es mas importante que nunca mantener y optimizar correctamente los directorios en Internet sobre tu negocio. Hoy en día, las personas, especialmente
                                        la generación más joven, dependen de su GPS, teléfonos inteligentes y otros dispositivos basados en la web para localizar casi todo.</p>
                                    <button type="button" class="btn btn-primary site-btn">Solicitar Cotización</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Col -->

                    <div class="col-sm-12 col-md-12">
                        <div class="col-md-12 feature-box" id="infopaneads">
                            <div class="row">
                                <div class="col-md-2 col-xs-1">
                                    <span class="fa fa-map-signs icon"></span>
                                </div>
                                <div class="col-md-10 col-xs-11">
                                    <h4>Advertisement</h4>
                                    <p> la publicidad por Internet se ha convertido en uno de los principales medios publicitarios para cualquier tipo de mercado siendo esta una gran herramienta en el que se puede alcanzar un gran número de nuevos posibles
                                        consumidores y/o clientes, la publicidad en Internet la podemos emplear en páginas web, redes sociales, mailing, entre otros.</p>
                                    <button type="button" class="btn btn-primary site-btn">Solicitar Cotización</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Col -->

                    <div class="col-sm-12 col-md-12">
                        <div class="col-md-12 feature-box" id="infopanedata">
                            <div class="row">
                                <div class="col-md-2 col-xs-1">
                                    <span class="fa fa-line-chart icon"></span>
                                </div>
                                <div class="col-md-10 col-xs-11">
                                    <h4>Data Analysis & Stadistics</h4>
                                    <p>Hoy en dia es muy importante el uso de datos en una empresa para facilitar la toma de decisiones. Y en negocios en la Web se pueden obtener informes muy relevante del seguimiento de los usuarios, como sus contenidos
                                        visualizados, su localizacion geoografica, su tiempo de retención y atencion en los diferentes servicios, entre otros.</p>
                                    <button type="button" class="btn btn-primary site-btn">Solicitar Cotización</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Col -->
                </div>
            </div>
        </div>
    </section>
    <section class="bottomline">
        <div class="bottom section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>
                            *Los servicios descritos previamente pueden variar segun la cartelera y disponibilidad de la empresa, para mas información proceda a la seccion "<a href="home/contactenos">Contactenos</a>" y haznos saber tu consulta.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>