img {
    max-height: 100%;
}

.gallery_box li {
    width: 33.333333%;
    max-width: 100%;
    display: inline-block;
    float: left;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.gallery_box {
    padding: 0;
    display: flow-root;
}

.gallery_box li:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.gallery_box li img {
    -webkit-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
}

.gallery_box li:nth-child(even) {
    height: 304px;
}

.gallery_box li:nth-child(odd) {
    height: 438px;
}

.gallery_box li:nth-child(odd) .box_data {
    background: rgba(0, 0, 0, 0.5)
}

.gallery_box li:nth-child(even) .box_data {
    background: rgba(0, 18, 107, 0.5)
}

.gallery_box .box_data {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
}

.gallery_box .box_data span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    font-size: 3vw;
}

.gallery_box li:hover .box_data {
    background: rgba(255, 0, 39, 0.55)
}

.headerTop {
    height: 100vh;
    background-size: cover;
}


/*--------------------------------DATA INFO CONTAINER CSS BELOW*/

.site-heading h3 {
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: 600;
}

.border {
    background: #e8e8e8;
    height: 1px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
    float: left;
}


/* Feature-CSS */

.icon {
    color: #fff;
    padding: 15px;
    background: #323232;
    font-size: 50px;
    border-radius: 90px;
    border: 10px solid #323232;
}

.feature-box {
    text-align: center;
    padding: 20px;
    transition: .5s;
    margin-bottom: 30px;
    border: 1px solid #e8e8e8;
}

.feature-box:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.feature-box h4 {
    font-size: 20px;
    font-weight: 600;
    margin: 25px 0 15px;
}


/*------------------------------- CSS EXCLUSIVE BOTTOM LINE*/

.section-padding {
    padding: 60px 0;
}

.bottom {
    background-color: #0a1c2e;
}

.bottom p {
    color: #e5e5e5;
    font-weight: 600;
}

.bottom a {
    color: #f2ff49;
    margin-left: 3px;
    padding-right: 3px;
}

.bottom .copyright p,
.bottom .copyright a:hover {
    color: #6c6d83;
}