<div class="animated fadeIn">
    <carousel>
        <slide *ngFor="let item of noticias_list; let i = index">
            <img class="img-fluid" src="../../../assets/noticias/{{item.imagen}}" alt="First slide" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
                <h3>{{item.nombre}}</h3>
                <p>{{item.sub}}</p>
                <p>{{item.fecha}}</p>
                <a class="btn btn-primary" [routerLink]="[ '/home/noticia', item.id ]">Ver Noticia</a>
            </div>
        </slide>
    </carousel>
</div>