<section class="headerTop pt-5 pb-5 mt-0 align-items-center">
    <div class="container-fluid" data-aos="fade-up" data-aos-duration="3000">
        <div class="row  justify-content-center align-items-center d-flex text-center h-100">
            <div class="col-12 col-md-8  h-50 ">
                <h1 class="display-2  text-light mb-2 mt-5"><strong>myBusiness</strong> </h1>
                <p class="lead  text-light mb-5">Puedes estar decepcionado si fracasas, pero estás acabado si no lo <strong>INTENTAS</strong>, publicate con nosotros.</p>
                <p><a [routerLink]="[ '/login' ]" class=" hvr-bob btn bg-primary btn-round text-light btn-lg btn-rised ">COMENZAR AHORA ></a></p>

                <div class="btn-container-wrapper p-relative d-block zindex-1 ">
                    <a class="btn btn-link btn-lg mt-md-3 mb-4 scroll align-self-center text-light ">
                        <i class="fa fa-angle-down fa-4x text-light "></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row sizeSec pt-5 pb-5 ">
        <div data-aos="fade-right" data-aos-duration="5000" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-3 ">
            <img src="../../../assets/img/power-ds-img.png" width="90% " alt="Responsive image ">
        </div>

        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mt-3 ">
            <div class="justify-content-center ">
                <h2><strong>Nuestro negocio es ver como cumples los objetivos del tuyo</strong></h2>
                <p class="mt-5 ">Crea, explora , haz crecer tu negocio, nosotros te damos las herramientas perfectas para que tu negocio sea un exito, publicate con nosotros y conoce las experiencias de los usuarios a fondo, interactua con otros dueños de negocios, haz
                    alianzas estrategicas y disfruta al maximo la experiencia que podes alcanzar aca, <strong class="text-info ">NO ESPERES MAS</strong> registrate con nosotros..</p>
                <button [routerLink]="[ '/login' ]" class="hvr-grow-shadow mt-7 btn btn-round btn-outline-primary btn-block btn-lg btn-rised">COMENZAR AHORA</button>
            </div>
        </div>
    </div>
</div>


<div data-aos="flip-up" data-aos-duration="2000" style="background-color: rgba(160, 134, 159, 0.404);">
    <h2 class="container mb-5 text-white">Nuestros Servicios</h2>

    <div class="container">
        <div class="hvr-box-shadow-outset col-xl-4 col-lg-4 col-md-6 col-sm-12 mt-3 mb-5">
            <div class="col-12 offset-3">
                <img src="../../../assets/img/005-bag.png" width="80px" alt="">
            </div>
            <div class="justify-content-center mt-4">
                <h4>Administra tu negocio</h4>
                <p>Queremos que tu negocio cresca con nosotros.</p>
            </div>
        </div>
        <div class="hvr-box-shadow-outset col-xl-4 col-lg-4 col-md-6 col-sm-12 mt-3 mb-5">
            <div class="col-12 offset-3">
                <img src="../../../assets/img/001-store.png" width="80px" alt="">
            </div>
            <div class="justify-content-center mt-4">
                <h4>Tu tienda en linea</h4>
                <p>Promocionate, información de tu tienda, imagenes y más.</p>
            </div>
        </div>
        <div class="hvr-box-shadow-outset col-xl-4 col-lg-4 col-md-6 col-sm-12 mt-3 mb-5">
            <div class="col-12 offset-3">
                <img src="../../../assets/img/003-change.png" width="80px" alt="">
            </div>
            <div class="justify-content-center mt-4">
                <h4>Incrementa las ganancia</h4>
                <p>Haz que los usuarios visiten tu negocio</p>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="hvr-box-shadow-outset col-xl-4 col-lg-4 col-md-6 col-sm-12 mt-3 mb-5">
            <div class="col-12 offset-3">
                <img src="../../../assets/img/004-megaphone.png" width="80px" alt="">
            </div>
            <div class="justify-content-center mt-4">
                <h4>Anuncios y noticias</h4>
                <p>Registra noticias importantes y promociones.</p>
            </div>
        </div>
        <div class="hvr-box-shadow-outset col-xl-4 col-lg-4 col-md-6 col-sm-12 mt-3 mb-5">
            <div class="col-12 offset-3">
                <img src="../../../assets/img/002-presentation.png" width="80px" alt="">
            </div>
            <div class="justify-content-center mt-4">
                <h4>Estadisticas</h4>
                <p>Obten estadisticas de tu negocio, comentarios y puntuaciones.</p>
            </div>
        </div>
        <div class="hvr-box-shadow-outset col-xl-4 col-lg-4 col-md-6 col-sm-12 mt-3 mb-5">
            <div class="col-12 offset-3">
                <img src="../../../assets/img/006-pie-chart.png" width="80px" alt="">
            </div>
            <div class="justify-content-center mt-4">
                <h4>Comparte</h4>
                <p>Visita otros negocios, calificalos y diviertete.</p>
            </div>
        </div>
    </div>

</div>


<div class="container">
    <div class="sizeSecTopBot">
        <div class="pt-2">
            <h2 class="text-info">Nuestro Equipo de Trabajo</h2>
        </div>
        <div class="row mt-5">
            <div data-aos="fade-up" data-aos-duration="3000" class="hvr-float col-md-4 col-sm-6">
                <div class="box14">
                    <img src="http://bestjquery.com/tutorial/hover-effect/demo122/images/img-1.jpg" alt="">
                    <div class="box-content">
                        <h3 class="title">Juanito</h3>
                        <span class="post">Web Developer</span>
                        <div class="icon">
                            <a href="#"><i class="fa fa-facebook-official fa-2x"></i></a>
                            <a href="#"><i class="fa fa-github fa-2x"></i></a>
                            <a href="#"><i class="fa fa-google fa-2x"></i></a>
                            <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
                            <a href="#"><i class="fa fa-youtube fa-2x"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div data-aos="fade-up" data-aos-duration="3000" class="hvr-float col-md-4 col-sm-6">
                <div class="box14">
                    <img src="http://bestjquery.com/tutorial/hover-effect/demo122/images/img-2.jpg" alt="">
                    <div class="box-content">
                        <h3 class="title">Maria</h3>
                        <span class="post">Web Developer</span>
                        <div class="icon">
                            <a href="#"><i class="fa fa-facebook-official fa-2x"></i></a>
                            <a href="#"><i class="fa fa-github fa-2x"></i></a>
                            <a href="#"><i class="fa fa-google fa-2x"></i></a>
                            <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
                            <a href="#"><i class="fa fa-youtube fa-2x"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div data-aos="fade-up" data-aos-duration="3000" class="hvr-float col-md-4 col-sm-6">
                <div class="box14">
                    <img src="http://bestjquery.com/tutorial/hover-effect/demo122/images/img-3.jpg" alt="">
                    <div class="box-content">
                        <h3 class="title">Pedrito</h3>
                        <span class="post">Web Developer</span>
                        <div class="icon">
                            <a href="#"><i class="fa fa-facebook-official fa-2x"></i></a>
                            <a href="#"><i class="fa fa-github fa-2x"></i></a>
                            <a href="#"><i class="fa fa-google fa-2x"></i></a>
                            <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
                            <a href="#"><i class="fa fa-youtube fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="subscribe-section bg-with-black">
    <div class="container">
        <div class="row" data-aos="zoom-in-right" data-aos-duration="3000">
            <div class="col-xs-12">
                <div class="subscribe-head">
                    <h2>Necesitas mas informacion?</h2>
                    <p>Registrate o subcribite para ver las novedades.</p>
                    <div class="form-section">
                        <form action="">
                            <input placeholder="Correo electronico..." name="EMAIL" id="mce-EMAIL" type="email">
                            <input value="Subcribirme ya!" name="subscribe" id="mc-embedded-subscribe" type="submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container sizeSecTopBot">
    <h2>Contactanos</h2>
    <div class="row justify-content-center">
        <div class="col-12">
            <form #formContactenos="ngForm">
                <div class="card border-primary rounded-0">
                    <div class="card-header p-0">
                        <div class="bg-info text-white text-center py-2">
                            <h3><i class="fa fa-envelope"></i> Contactanos</h3>
                            <p class="m-0">Con gusto te ayudaremos</p>
                        </div>
                    </div>
                    <div class="card-body p-3">
                        <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-user text-info"></i></div>
                                </div>
                                <input type="text" class="form-control" name="nombre" ngModel required #nombre="ngModel" placeholder="Nombre y Apellido">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-envelope text-info"></i></div>
                                </div>
                                <input type="email" class="form-control" name="email" ngModel required #email="ngModel" placeholder="ejemplo@gmail.com">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fa fa-comment text-info"></i></div>
                                </div>
                                <textarea class="form-control" name="msj" ngModel required #msj="ngModel" placeholder="Envianos tu Mensaje"></textarea>
                            </div>
                        </div>

                        <div class="text-center">
                            <button [disabled]="!formContactenos.valid" (click)="btnEnviarMsj(formContactenos)" class="btn btn-info btn-block rounded-0 py-2">Enviar Mensaje</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="container second-portion">
            <div class="row">
                <div class="hvr-buzz-out col-xs-12 col-sm-6 col-lg-4">
                    <div class="box">
                        <div class="icon">
                            <div class="image "><i class="fa fa-envelope" aria-hidden="true"></i></div>
                            <div class="info">
                                <h3 class="title mt-2">MAIL & WEBSITE</h3>
                                <p>
                                    <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp gondhiyahardik6610@gmail.com
                                    <br>
                                    <br>
                                    <i class="fa fa-globe" aria-hidden="true"></i> &nbsp www.hardikgondhiya.com
                                </p>

                            </div>
                        </div>
                        <div class="space"></div>
                    </div>
                </div>

                <div class="hvr-buzz-out col-xs-12 col-sm-6 col-lg-4">
                    <div class="box">
                        <div class="icon">
                            <div class="image "><i class="fa fa-mobile" aria-hidden="true"></i></div>
                            <div class="info">
                                <h3 class="title mt-2">CONTACTOS</h3>
                                <p>
                                    <i class="fa fa-mobile" aria-hidden="true"></i> &nbsp (+91)-9624XXXXX
                                    <br>
                                    <br>
                                    <i class="fa fa-mobile" aria-hidden="true"></i> &nbsp (+91)-756706XXXX
                                </p>
                            </div>
                        </div>
                        <div class="space"></div>
                    </div>
                </div>

                <div class="hvr-buzz-out col-xs-12 col-sm-6 col-lg-4">
                    <div class="box">
                        <div class="icon">
                            <div class="image "><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                            <div class="info">
                                <h3 class="title mt-2">DIRCCIÓN</h3>
                                <p>
                                    <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp 15/3 Junction Plot "Shree Krishna Krupa", Rajkot - 360001.
                                </p>
                            </div>
                        </div>
                        <div class="space"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="bottom section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="copyright">
                    <p>© <span>2019</span> <a href="#" class="transition">myBusiness</a> All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>