<div class="container mt-4 animated fadeIn">
    <div class="text-center">
        <h1>{{noticia.nombre}}</h1>
    </div>
    <div data-aos="fade-up" data-aos-duration="5000" class="row">
        <div class="col-12 col-sm-6 col-md-4 image-grid-item">
            <div class="image-grid-cover">
                <img src="../../../assets/noticias/{{noticia.ruta}}/1.jpg" alt="..." class="img-thumbnail">
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 image-grid-item">
            <div class="image-grid-cover">
                <img src="../../../assets/noticias/{{noticia.ruta}}/2.jpg" alt="..." class="img-thumbnail">
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 image-grid-item">
            <div class="image-grid-cover">
                <img src="../../../assets/noticias/{{noticia.ruta}}/3.jpg" alt="..." class="img-thumbnail">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-3 mb-3">
            <h5>{{noticia.sub}}</h5>
        </div>

        <div class="row">
            <p class="text-justify">{{noticia.descripcion}}<button [routerLink]="[ '/home/noticias' ]" class="btn btn-outline-primary">Volver <small>noticias</small></button></p>
        </div>

    </div>

</div>