<section class="headerTop pt-5 pb-5 mt-0 align-items-center">
    <div class="container-fluid">
        <div data-aos="flip-right" class="animated fadeIn col-sm-10 offset-sm-2 col-md-6 offset-md-3 col-lg-5 offset-lg-3 col-xl-4 offset-xl-4">
            <div class="login-card-light p-3 shadow-lg rounded">
                <div class="pt-3 text-center">
                    <h2 class="text-danger">Ingresar al Sistema</h2>
                </div>
                <form class="mt-5" #forma="ngForm">
                    <label for="email"><i class="fa fa-envelope"></i><strong> Correo</strong></label>
                    <div class="form-group">
                        <input type="email" name="email" ngModel required #email="ngModel" class="form-control form-control-sm" placeholder="Email Id">
                    </div>
                    <label for="pass"><i class="fa  fa-unlock-alt"></i><strong> Contraseña</strong></label>
                    <div class="form-group mb-5">
                        <input type="password" name="pass" ngModel required #pass="ngModel" class="form-control form-control-sm" min="8" minlength="6" maxlength="20" placeholder="Password">
                    </div>

                    <div class="mt-5">
                        <button [disabled]="!forma.valid" (click)="btnLogin(forma)" class="btn  btn-danger col">Ingresar</button>
                    </div>

                    <div class="mt-3">
                        <h5 class="text-primary">Registrarse</h5>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="mt-2">
                                <button class="btn btn-sm btn-outline-secondary btn-sm" (click)="btnLoginAnonimo()"><i class="fa fa-user-secret"></i> Anonimo</button>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="text-center mt-2">
                                <button class="btn btn-outline-danger btn-sm" img (click)="btnLoginGoogle()"><i class="fa fa-google-plus-circle"></i> Google</button>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="text-center mt-2">
                                <button class="btn btn-outline-info btn-sm" img (click)="btnLoginFacebook()"><i class="fa fa-facebook-square"></i> Facebook</button>
                            </div>
                        </div>
                    </div>

                    <div class="mt-3">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="copyright">
                                    <p>© <span>2018</span> <a [routerLink]="[ 'landing-page' ]" class="transition">MyBussines</a> All rights reserved.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>