<div class="animated fadeIn" *ngIf="centroFullLoad">
    <div class="container text-center mt-3">
        <h2>{{centro.nombre}} <i *ngIf="!isAnonimo" (click)="btnSubscribers()" title="Suscribirme" class="fa fa-thumbs-o-up"></i></h2>
    </div>
    <div class="container mt-3">
        <div class="wrapper">
            <div class="news-item hero-item">
                <div class="thumbnail">
                    <div class="image-wrapper">
                        <picture>
                            <source media="(max-width: 1000px)" [srcset]="centro.imgs[0].url_s">
                            <source media="(min-width: 1100px)" [srcset]="centro.imgs[0].url_s">
                            <img [src]="centro.imgs[0].url_s" alt="Divinity" class="responsive-img">
                        </picture>
                    </div>
                    <div class="caption">
                        <span class="tag">Direccion</span>
                        <small><h1 class="title">{{centro.direccion}}</h1></small>
                    </div>
                </div>
            </div>
            <div class="news-item standard-item">
                <div class="thumbnail">
                    <div class="image-wrapper">
                        <picture>
                            <source media="(max-width: 599px)" [srcset]="centro.imgs[1].url_s">
                            <source media="(min-width: 600px)" [srcset]="centro.imgs[1].url_s">
                            <img [src]="centro.imgs[1].url_s" alt="Resident Evil 7" class="responsive-img">
                        </picture>
                    </div>
                    <div class="caption">
                        <span class="tag">Horarios</span>
                        <small><h1 class="title">{{centro.horarios}}</h1></small>
                    </div>
                </div>
            </div>
            <div class="news-item standard-item">
                <div class="thumbnail">
                    <div class="image-wrapper">
                        <picture>
                            <source media="(max-width: 599px)" [srcset]="centro.imgs[2].url_s">
                            <source media="(min-width: 600px)" [srcset]="centro.imgs[2].url_s">
                            <img [src]="centro.imgs[2].url_s" alt="Bioshock 2" class="responsive-img">
                        </picture>
                    </div>
                    <div class="caption">
                        <span class="tag">Valoraciones</span>
                        <small><h1 class="title">Seguidores: {{centro.seguidores}}</h1> <i class="fa fa-thumbs-o-up"></i></small>
                        <span class="author"><p>Rank <small title="Valoración: {{centro.valoracion}}" style="color: rgba(142, 150, 33, 0.904)"><ngb-rating [(rate)]="centro.valoraciones"></ngb-rating></small></p></span>
                    </div>
                </div>
            </div>
            <div class="news-item standard-item">
                <div class="thumbnail">
                    <div class="image-wrapper">
                        <picture>
                            <source media="(max-width: 1000px)" [srcset]="centro.imgs[3].url_s">
                            <source media="(min-width: 1100px)" [srcset]="centro.imgs[3].url_s">
                            <img [src]="centro.imgs[3].url_s" alt="Tomb Raider" class="responsive-img">
                        </picture>
                    </div>
                    <div class="caption">
                        <span class="tag">Telefono</span>
                        <small><h1 class="title">{{centro.telefono}}</h1></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="descripcionFondo container mt-5 mb-5">
        <h3 class="text-primary mt-5">Descripción del Centro</h3>
        <p class="text-justify">{{centro.descripcion}}</p>
        <button [routerLink]="[ '/home/centros-turisticos' ]" class="btn btn-outline-primary">Volver Centros Turisticos</button>
    </div>

    <div class="container mt-3 mb-5">
        <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12 mt-5">
                <div [innerHtml]="youtube_iframe_html"></div>
            </div>
            <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <div class="text-center">
                    <h3 class="text-primary">Comentarios <i class="fa fa-list"></i></h3>
                </div>
                <div class="row mt-3 mb-3">
                    <div class="col-10">
                        <textarea name="comment" id="comment" rows="2" (keyup.enter)="btnComentario()" [(ngModel)]="inputComment"></textarea>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-success btn-block" (click)="btnComentario()">Publicar <i class="fa fa-angle-double-right"></i></button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 scroll_text">

                        <div class="row mt-2" *ngFor="let item of list_commets.reverse()">
                            <div class="col-1">
                                <img class="rounded-circle" [src]="item.url" alt="" width="50px" height="50px">
                            </div>
                            <div class="col-11">
                                <p class="comentarioFondo text-justify img-thumbnail hvr-box-shadow-outset">{{item.comment}}</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="container mb-5 mt-5">
        <div class="row mt-5">
            <h3 class="text-primary">Reseñas <i class="fa fa-book"></i></h3>
            <p class="text-justify">{{centro.historia}}</p>
        </div>
    </div>

    <div class="container mb-5 mt-5">
        <div class="text-center">
            <h3 class="text-primary ">Seguidores <i class="fa fa-child"></i></h3>
        </div>
        <div class="row mt-5">

            <div class="card-columns" *ngIf="haveSubcripbers">
                <div class="card" *ngFor="let item of list_subscribers">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <img class="rounded-circle" src="{{item.photoURL}}" alt="" width="50px" height="50px">
                            </div>
                            <div class="col-9 align-self-center">
                                <h5 class="card-title">{{item.displayName}}</h5>
                            </div>
                        </div>

                        <p class="card-text">{{item.email}}</p>
                        <p class="card-text"><small class="text-muted"><button [routerLink]="[ '/home/perfil', item.uid ]" class="btn btn-outline-primary btn-block">Ver perfil <i class="fa fa-id-card"></i></button></small></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>